@font-face {
  font-family: avenir-light;
  src: url('fonts/Avenir-Light.ttf');
}

@font-face {
  font-family: avenir-black;
  src: url('fonts/Avenir-Black.ttf');
}

@font-face {
  font-family: a-love-of-thunder;
  src: url('../fonts/A Love of Thunder.ttf');
}

body {
  background-color: #262626;
  font-family: 'Oswald', sans-serif;
  /* Titles and accents */
  font-family: 'Roboto', sans-serif;
  /* General text */
  color: #f8f8f8;
  margin: 0px;
  padding: 0px;
}

#title {
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0px 30px 0px;
}

.jazz {
  color: #ffc536;
  font-weight: bold;
  font-size: 120px;
  line-height: 0.8;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#bandImage {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  height: 400px;
  margin-top: 15px;
  color: #262626;
  background-image: url('../images/esrk2.jpg');
  background-size: cover;
  background-position: center;
}

#address {
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

#address > a > div {
  display: inline;
  white-space: nowrap;
}

#address > a > div > b {
  color: #ffc536;
}

hr {
  border: 1px solid #ddd;
  margin: 40px;
}

.eventHeading {
  font-size: 30px;
  text-align: center;
  margin: 80px 0px 10px 0px;
}

.event {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  background-color: rgba(255, 207, 39, 0.05);
}

.eventDate,
.eventTime {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.eventName {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  color: #ffc536; /*#f07818 #fc9e03 #facc2e #e69138 #27ae60 #4db6ac #3498db #2ecc71 #9b59b6*/
}

.eventFooter {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.eventFooter > b {
  color: #ffc536;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.iframeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #ddd;
}

iframe {
  border: 0px solid #ddd;
  padding: 80px 0px 80px 0px;
  width: 568px;
  height: 320px;
}

@media (max-width: 568px) {
  iframe {
    padding: 80px 0px 80px 0px;
    width: 320px;
    height: 180px;
  }
  #title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  #bandImage {
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    height: 250px;
    margin-top: 15px;
    color: #262626;
    background-image: url('../images/esrk2.jpg');
    background-size: cover;
    background-position: center;
  }
}
